rezept/userPreferences.*
rezept/Project/DerivedData/*
rezept/Data/*
Components/*
rezept/Libraries/lib4d-arm64.dylib
SAMPLE/Data/*
SAMPLE/Project/DerivedData/*
SAMPLE/userPreferences.*
rezept/Settings/buildApp.4DSettings
SAMPLE/Components/*
