rezept/userPreferences.*
rezept/Project/DerivedData/*
rezept/Data/*
Components/*
rezept/Libraries/lib4d-arm64.dylib
SAMPLE/Data/*
SAMPLE/Project/DerivedData/*
SAMPLE/userPreferences.*
rezept/Settings/buildApp.4DSettings
SAMPLE/Components/*
コメント.zip
修飾語.zip
傷病名.zip
医薬品.zip
単位.zip
地方公費.zip
特定器材.zip
診療行為.zip
記載事項等.zip
